

.body , html {
     margin : 0;
     height: 100%;

}

.back-ground{
    background-image : url(blog.gif);

    height:70vh;
    width: 200vh;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  margin: auto;
  width: 30%;
  padding: 0 0 30px 0;
  color: #00BFFF;
  text-align: center;
  list-style-type: none;
  text-decoration-line: none;
}

.center li  {
  display: inline-block;
  padding: 0  5px  0  5px;
  /* top right botton left */
  font-size: 12px;
  margin: auto;
  width : 20%;
  list-style-type: none;
  text-decoration-line: none; 
}

